@model List<Product>

@{
    ViewData["Title"] = "Products List";
}
<div class="container">
<h1>Products List</h1>
<a href="@Url.Action("AddProduct", "Product")" class="btn btn-primary">Add Product</a>

<form id="searchForm">
    <h5><label for="keyword">Search by Product Name</label></h5>
    <input type="text" id="keyword" placeholder="Enter keyword" />
    <button type="button" id="searchButton">Search</button>
</form>
<div style="margin-bottom: 1.2em;"></div>

<div id="results">
    @Html.Partial("_ProductListPartial", Model)
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function searchProducts(keyword) {
                $.ajax({
                    url: '/Product/SearchProducts',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(keyword),
                    success: function (data) {
                        $('#results').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }

            
            searchProducts('');

    
            $('#searchButton').click(function () {
                var keyword = $('#keyword').val();
                searchProducts(keyword);
            });

            $('#keyword').on('input', function () {
                var keyword = $(this).val();
                searchProducts(keyword);
            });
        });
    </script>
}
