@model List<Category>

@{
    ViewData["Title"] = "Categories List";
}
<div class="container">
<h1>Categories List</h1>

<form id="searchForm">
    <h5><label for="keyword">Search by Category Name</label></h5>
    <input type="text" id="keyword" placeholder="Enter keyword" />
    <button type="button" id="searchButton">Search</button>
</form>
<div style="margin-bottom: 1.2em;"></div>
<div id="results">
    @Html.Partial("_CategoryListPartial", Model)
  </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function searchCategories(keyword) {
                $.ajax({
                    url: '/Category/SearchCategories',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(keyword),
                    success: function (data) {
                        debugger;
                        $('#results').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }


            searchCategories('');


            $('#searchButton').click(function () {
                var keyword = $('#keyword').val();
                searchCategories(keyword);
            });

            $('#keyword').on('input', function () {
                var keyword = $(this).val();
                searchCategories(keyword);
            });
        });
    </script>
}
